.form {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 85%;
  justify-content: center;
  border-bottom: 2px #33414a solid;
}

.input {
  color: white;
  padding: 10px;
  border: 0;
  background-color: #2c2f33;
  border: 0px;
  border-radius: 2px 0px 0px 2px;
}

.input:focus{
  outline: none;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: #2c2f33;
  color: white;
  border-radius: 0px 2px 2px 0px;
}

.addButton:hover {
  cursor: pointer;
  color: rgb(192, 192, 192);
}

@media screen and (max-width: 600px) {

  .form {
    width: 100%;
  }
  .input {
    padding: 20px;
    width: 60%;
  }
  .addButton {
    width: 20%;
  }
}
