.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.button:hover {
    color: rgb(192, 192, 192);
}